.horGoodList-item {
  display: inline-block;
  height: auto;
  width: 680.5px;
  margin-left: 30px;
  overflow: hidden;

  &:last-child {
    margin-right: 30px;
  }

  &-img {
    height: 256.76px;
    width: 680.5px;
    margin-bottom: 20px;
  }

  &-grid {
    height: 65px;
    color: #333;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &-title {
      color: #333;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &-brief {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 24px;
      color: #999;
      line-height: 1.2; // 根据需要调整行高
    }
  }
}
