.horGoodListWhole-item {
  display: inline-block;
  height: auto;
  width: 730px;
  overflow: hidden;
  background-color: white;

  &-img {
    height: 260px;
    width: 710px;
    margin-bottom: 20px;
    border-radius: 25px;
  }

  &-grid {
    height: 65px;
    color: #333;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;

    &-title {
      color: #333;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &-brief {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 24px;
      color: #999;
      line-height: 1.2; // 根据需要调整行高
    }
  }
}
